<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
xmlns:layout="http://wwww.ultraq.net.nz/thymeleaf/Layout">
<head>
<meta charset="utf-8"/>
<title>Etudiants Page</title>
<link rel="stylesheet" type="text/css" href="../static/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}"/>
<link rel="stylesheet" type="text/css" href="../static/css/myStyle.css" th:href="@{/css/myStyle.css}"/>

</head>
<body>
<div class="navbar navbar-inverse navbar-fixed-top">
	<div class="navbar-collapse collapse">
		<ul class="nav navbar-nav">
		<li class="active"><a th:href="@{index}">Liste Etudiants</a></li>
		<li><a th:href="@{form}">Ajouter Etudiant</a></li>
		
		</ul>
	</div>
<div layout:fragment="content"></div>	
</div>
</body>
</html>